---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Differentiators from "../components/sections/Differentiators.astro";
import FAQ from "../components/sections/FAQ.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Services from "../components/sections/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main id="main-content" tabindex="-1">
    <Hero />
    <About />
    <Services />
    <Projects />
    <Differentiators />
    <FAQ />
    <Contact />
  </main>
</Layout>
